
    
.container-articles {
    display: flex;
    padding: 1% ;
}

.generate-article {
    max-width: 70%;
}
.articleContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1%;
    font-size:100%;
}

.articleContent > img {
    max-width: 100%;
}

.articleContent > p {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin: 1%;
    line-height: 1.5;
    text-align: justify;

}

@media screen and (max-width: 815px) {
    .generate-article {
        max-width: 100%;
    }
}

aside {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-left: 3%;
    margin-right: 3%;
}

@media screen and (max-width: 815px) {
    aside {
        display: none;
    }
}

aside > img {
    max-width: 100%;
    margin: 1%;
}

h1 {
    /* titre article */
    font-size: clamp(2.5rem, 4vw, 4rem); 
    line-height: 1.2;
    margin: 1%;
    font-weight: normal;
}

h2 {
    /* resumé article */
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    margin: 1%;
    font-weight: normal;
    font-style: italic;
    text-align: justify;
}

h3 {
    /* author article */
    font-size: clamp(1.7rem, 2vw, 2.2rem);
    margin: 1%;
    font-weight: normal;
}

h3 > span {
    font-weight: bold;
}

h4 {
    /* titre aside */
    font-size: clamp(2rem, 2vw, 2.5rem);
    font-style: italic;
    margin-top: 1%;
}

/* h5 {
   
    font-size: clamp(1.5rem, 1.5vw, 1.7rem);
    margin-top: 1%;
    margin-bottom: 5%;
    font-weight: normal;
    font-style: italic;
    text-align: justify;
} */

.buttons-suivant-precedant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}
.buttons-suivant-precedant a {
    text-decoration: none;
    text-transform: capitalize;
    background-color: #ce0033;
    color: #fff;
    padding: 1%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}