<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>articles - simplon news</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/article.css">
</head>
<body>
    <header></header>
    <main>
        <div class="articleContainer">
            <article class="articleContent">
                <div></div>
                <h1 id="articleTitle"></h1>
                <h3>Author: <span id="articleAuthor"></span></h3>
                <h2 id="articleResume"></h2>
                <p id=articleText></p>
            </article>
            <aside>
                <img id="asideImg" src="" alt="">
                <h4 id="asideTitle"></h4>
            </aside>
        </div>
    </main>
    <footer></footer>
       <script src="../js/article.js"></script>
       <script src="../js/utils.js"></script>
</body>
</html>